<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<header class="header">
    <form action="{{ path('search') }}">
        <input name="search" type="text">
        <input type="submit">
    </form>
    <nav class="menu">

        <ul class="menu-items">
            <li>
                <a href="{{ path('home') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('articles') }}">Articles</a>
            </li>
            <li>Contact</li>
        </ul>
    </nav>
</header>
<main>

    {% block main %}{% endblock main %}

</main>
<script src="{{ asset('assets/js/app.js') }}"></script>
</body>
</html>
